## eco_product (친환경 제품) 전처리

In [28]:
import pandas as pd
import re

In [29]:
# 전처리 전 데이터 불러오기
list_df = pd.read_csv('data/친환경 제품(초안).csv')

In [30]:
# 중복 데이터 제거
list_df.drop_duplicates(subset=['title'], inplace=True)

In [31]:
# 불필요한 문자 제거
list_df['title_mod'] = list_df['title'].apply(lambda x: re.sub(r'\([^)]*\)', '', x))
list_df['title_mod'] = list_df['title_mod'].apply(lambda x: re.sub(r'\[[^)]*\]', '', x))
list_df['title_mod'] = list_df['title_mod'].apply(lambda x: re.sub(r'[^ ㄱ-ㅣ가-힣]+', '', x))
list_df['point'] = list_df['point'].apply(lambda x: re.sub(r'[^0-9]+', '', x))
list_df['point'] = list_df['point'].astype(int)

In [32]:
# 인덱스 정렬
list_df.set_index('title', inplace=True)
list_df.reset_index(inplace=True)

In [33]:
# 컬럼별 공백 제거
list_df['market'] = list_df['market'].str.lstrip(' ')
list_df['title'] = list_df['title'].str.lstrip(' ')
list_df['title_mod'] = list_df['title_mod'].str.lstrip(' ')

In [34]:
# (10/24 추가) 검색 안되는 매장 처리
list_df['market'] = list_df['market'].str.replace(
    '(사)한국지체장애인협회(춘천시장애인근로사업장)', '춘천시장애인근로사업장')
list_df['market'][310:320]

310    춘천시장애인근로사업장
311    춘천시장애인근로사업장
312    춘천시장애인근로사업장
313    춘천시장애인근로사업장
314    춘천시장애인근로사업장
315    춘천시장애인근로사업장
316    춘천시장애인근로사업장
317    춘천시장애인근로사업장
318    춘천시장애인근로사업장
319    춘천시장애인근로사업장
Name: market, dtype: object

In [35]:
# 최종본으로 저장
list_df.to_csv('data/eco_product.csv', index=False)
list_df.head()

    title  point    market title_mod
0  수실류-은행     10  로컬푸드 직매장     수실류은행
1  수실류-호두     10  로컬푸드 직매장     수실류호두
2  수실류-대추     10  로컬푸드 직매장     수실류대추
3   수실류-밤     10  로컬푸드 직매장      수실류밤
4  과실류-기타     10  로컬푸드 직매장     과실류기타