## 공공기관 데이터 전처리

In [1]:
import pandas as pd

#### 데이터가 얼마 없어서 크롤링 하지 않음

In [27]:
# csv파일 불러오기
df = pd.read_csv('data/공공기관.csv')
df.head()

         기관명       할인율           전화번호
0   성호체육문화센터   (10%할인)   031-440-8300
1   화성반월체육센터   (20%할인)   031-273-0530
2   영도국민체육센터   (20%할인)   051-405-0050
3  안동시청소년수련관   (30%할인)   054-850-4620
4  연천군청소년수련관   (50%할인)   031-834-2620

In [29]:
# 괄호 제거
df['할인율'] = df['할인율'].replace(['\(','\)'], ['',''], regex=True)
df.head()

         기관명     할인율           전화번호
0   성호체육문화센터   10%할인   031-440-8300
1   화성반월체육센터   20%할인   031-273-0530
2   영도국민체육센터   20%할인   051-405-0050
3  안동시청소년수련관   30%할인   054-850-4620
4  연천군청소년수련관   50%할인   031-834-2620

In [3]:
# 컬럼 공백 제거
df['할인율'] = df['할인율'].str.lstrip(' ')
df['전화번호'] = df['전화번호'].str.lstrip(' ')
df['할인율'][0]

'10%할인'

In [4]:
# 저장
df.to_csv('data/공공기관.csv', index=False)